* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr 7rem;
}

nav {
  grid-area: 1/1/2/2;
  background-color: rgb(20, 20, 20);
}

nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}


nav ul li{
  aspect-ratio: 1/1;
  border-radius: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  color: white;
}

nav ul li:hover {
  background-color: rgb(60, 60, 60);
}

nav ul li:last-child{
  margin-top: auto;
}

nav ul li:nth-child(7){
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.control {
  grid-area: 2/3/4/1;
  background-color: rgb(35, 35, 35);
  border-top: 1px solid rgba(12, 12, 12, 0.5);
}

.list {
  background-color: rgb(30, 30, 30);
}
